/*
* GENERAL ************************************************
* HEADER/FOOTER ******************************************
* FEATURES ***********************************************
* CAROUSEL ***********************************************
* STATISTICS *********************************************
* CONTACT ************************************************
* STEPS **************************************************
* EMAIL SIGN-UP ******************************************
* SLIDER *************************************************
*/
.section1 {
background: white url(../img/girl.jpg) no-repeat;
height: 395px !important;
background-position: 650px -5px;
background-size: 603px;
}
.section1 .play {
font-size: 165px;
color: #00D7C0;
font-size: 165px;
color: #00D7C0;
left: 590px;
top: -190px;
}
.section1 h1 {
font-size: 36px;
width: 375px;
text-align: center;
margin-top: 135px;
margin-left: 110px;
}
.section2 {
background: url(../img/crowd.jpg) no-repeat;
min-height: 375px !important;
background-position: 0px 0px;
background-size: 100%;
}
.section2 h1 {
font-size: 36px;
color: white;
width: 1125px;
text-align: center;
margin-left: 100px;
margin-top: 60px;
}
.section3 {
background-color: white;
min-height: 367px;
}
.section3 h1 {
font-size: 36px;	/* overwrite theme defaults */
color: #43E6E1;
text-align: center;
}
.section3 h3 {
font-size: 20px;
text-align: center;
}
.section3 .phone {
background: url(../img/IMGBANNER1.jpg) no-repeat;
background-size: 315px;
background-position: 0px 0px;
min-height: 380px;
}
.section4 {
background-color: #2FB870;
min-height: 367px;
}
.section4 .phone {
background: url(../img/IMGBANNERWEBEVENT.png) no-repeat;
background-size: 315px;
background-position: 100px 0px;
min-height: 380px;
}
.section4 h1 {
font-size: 36px;
color: white;
text-align: center;
}
.section4 h3 {
font-size: 20px;
text-align: center;
}
.section5 {
background-color: #63B7E5;
min-height: 367px;
}
.section5 h1 {
font-size: 36px;
color: white;
text-align: center;
}
.section5 h3 {
font-size: 20px;
color: #616469;
text-align: center;
}
.section5 .phone {
background: url(../img/IMGBANNERWEB.png) no-repeat;
background-size: 315px;
background-position: 0px 0px;
min-height: 380px;
}
.section6 {
background-color: #D37BEB;
min-height: 367px;
}
.section6 .phone {
background: url(../img/IMGBANNERWEBSITErecording.png) no-repeat;
background-size: 315px;
background-position: 100px 0px;
min-height: 380px;
}
.section6 h1 {
font-size: 36px;
color: white;
text-align: center;
}
.section6 h3 {
font-size: 20px;
text-align: center;
}
.section7 {
background-color: #4ECFD4;
min-height: 367px;
}
.section7 h1 {
text-align: center;
font-size: 36px;
color: white;
}
.section7 h3 {
text-align: center;
font-size: 20px;
color: #616469;
}
.section3 .text-section h1,
.section3 .text-section h3 {
text-align: center;
padding: 0px 97px;
}
.section4 .text-section h1,
.section4 .text-section h3 {
text-align: center;
padding: 0px 97px;
}
.section5 .text-section h1,
.section5 .text-section h3 {
text-align: center;
padding: 0px 35px;
}
.section6 .text-section h1,
.section6 .text-section h3 {
text-align: center;
padding: 0px 25px;
}
.section7 .text-section h1,
.section7 .text-section h3 {
text-align: center;
padding: 0px 97px;
}
.section7 .phone {
background: url(../img/IMGBANNERWEBSITErsocial.png) no-repeat;
background-size: 315px;
background-position: 0px 0px;
min-height: 380px;
}
.app-link {
display: inline-block;
padding-right: 3%;
padding-left: 3%;
}

.text-section h1 {
margin-top: 90px;
}
/* GENERAL STYLES ****************************************/
.my-color {
	color: #0b98a9;
}
h1 {
	font-family: 'Lato', 'serif';
	font-weight: 200;
	font-size: 28px;
}

h3{
	font-family: 'Lato', 'serif' !important;
	font-weight: 200;
	font-size: 28px;
	/* overwrite theme defaults */
	font-style: normal !important; 	
}

h2 {
	font-family: 'Quicksand', 'serif';
	font-weight: 200;
	font-size: 28px;
}
h4 {
	font-family: 'Quicksand', 'serif';
	font-weight: 200;
	font-size: 13px !important;
	color: #8b8b8b;
}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}
@media all and (min-width: 600px){
	.lower-20-gt-md {
		top: 70px;

	}
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media all and (max-width: 1000px){
	.hide-sm-1000 {
		display: none;
	}
}
/* HEADER/FOOTER *****************************************/
header.page_header {
		z-index: 200;
}

a[disabled] {
	pointer-events: none;
	cursor: default;
	color: #E8E8E5 !important;
}

footer a[disabled] {
	color: gray !important;
}

@media all and (max-width: 1000px){
	#lang {
		font-family: 'Raleway', sans-serif;
		font-size: 12px;
		line-height: 23px;
		font-weight: 700;
		-webkit-font-smoothing: antialiased;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #393939;

		height: 62px;
		padding-top: 38px;
		float: right;
		position: relative;
		z-index: 100;
	}

	#lang:hover {
		color: #869fa4;
	}
}

@media all and (min-width: 1000px){
	#lang {
		display: none;
	}
}

.mini-app-link {
	vertical-align: middle;
	text-align: center;
}

#menu-top_menu li#language {
	position: relative;
}

#menu-top_menu li#language:before {
	content: " ";

	position: absolute;
	top: 25%;
	right: 0;

	display: block;
	width: 1px;
	height: 50%;
	background-color: gray;
}
/* FEATURES **********************************************/
.feature {
	text-align: center;
}

@media all and (min-width:768px){
	.feature-center {
		text-align: center justify;
		width: 55%;
		margin: 0 auto;
	}

	.feature-left {
		text-align: left;
		padding-right: 50px;
	}

	.feature-right {
		text-align: right;
		padding-left: 50px;
	}

	.feature-right>p {
		float: right;
		text-align: right;
		width: 75%;
	}

	.feature-right>img {
		text-align: right;
	}

	.feature-left>p {
		text-align: left;
		width: 75%;
	}

	.feature-small>img {
		width: 220px;
	}
}

@media all and (max-width: 768px){
	.feature ul {
		display: inline-block;
		text-align: justify;
		font-size: 14px;
	}

	.feature-img {
		text-align: center !important;
	}

	.display-hide {
		display: none;
	}

	.display-shrink {
			width: 25%;
			height: 25%;
	}
}

.feature>h2 {
	color: #0b98a9;
	font-family: 'Quicksand', 'sans-serif';
	font-size: 28px;
	text-decoration: bold;
	font-weight: 700;
	margin-bottom: 26px;
	margin-top: 90px;
}

@media all and (max-width: 765px) {
	.feature>h2 {
		margin-top: 45px;
	}
}

img.platform {
	width: 80px;
}
/* CAROUSEL *********************************************/
.small-slider {
	height: 420px;
}

@media all and (min-width: 785px){
	.whiteBigBlackSmall {
		color: white;
	}
}

@media all and (max-width: 785px){
	.whiteBigBlackSmall {
		color: black;
	}
}

@media all and (max-width: 1016px){
.app-link-group {
	position: absolute;
	top: 325px;
	right: 0;
	bottom: 0;
	left: 0;
	margin-left: 10%;
	margin-right: 10%;
	z-index: 10;
	text-align: center;
}

	.smaller_center>h2, .smaller_center>p, .smaller_center {
		text-align: center;
	}
}
@media all and (min-width: 1016px){
	.app-link-group {
		position: absolute;
		top: 230px;
		right: 0;
		bottom: 0;
		left: 0;
		margin-left: 10%;
		margin-right: 10%;
		z-index: 10;
		text-align: center;
		}
}
.app-link {
	display: inline-block;
	padding-right: 3%;
	padding-left: 3%;
}

.footer-app-link {
	max-width: 49%;
}

@media all and (max-width: 1000px) and (min-width: 601px){
	.footer-app-link {
		max-width: 100%;
	}
}

@media all and (min-width: 1000px) and (max-width: 1016px){
	.pad-text_all_at_once {
		padding-top: 15px;
	}
}

@media all and (min-width: 1016px){
	.pad-text_all_at_once {
		padding-top: 115px;
	}
}

.text-stroke
{
	color: white;
}

h1.text-stroke.small {
	font-size: 48px;
}

h2.text-stroke {
	font-size: 28px !important;
}
/* STATISTICS **********************************************/
.appstatus {
	color: #A3A3A3;
	padding-top: 10px;
}
.statistics {
	height:365px;
	background-image: url(../img/texture.png);
	background-position: 50% 64px;
	background-size: 100% 100%;
}
@media all and (min-width: 600px) {
	.appstatus-left {
		float: left;
		text-align: left;
	}

	.appstatus-right {
		float: right;
		text-align: right;
	}
}
@media all and (max-width: 600px) {
	.appstatus {
		text-align: center;
		font-size: 22px;
	}
}
@media all and (min-width: 600px) and (max-width: 768px){
	.offset-64-right-sm {
		margin-right: -64px;
	}
}
@media all and (max-width: 768px) {
	.statistics {
		height: 500px;
	}
}
/* PROMOTER *********************************************/
@media all and (max-width: 280px){
	.promoterimg {
		padding-left: 0px;
	}
}

@media all and (min-width: 280px){
	.promoterimg {
		padding-left: 16.5px;
	}
}

.promoterimg {
	height: 150px;
	width: 150px !important;
	text-align: center;
}
/* CONTACT *******************************************/
.q_font_elegant_holder.my-color {
	background-color: #0b98a9 !important;
}

.my-color-button {
	background-color: #0b98a9 !important;
	border-color: #0b98a9 !important;
}

.my-color-button:hover {
	background-color: transparent !important;
	color: #0b98a9 !important;
}

.item-spacing {
	margin-left: 25px;
	margin-right: 25px;
}

.my-color-input-border:focus {
	border-color: #0b98a9 !important;
}

#contact-form:before {
	display: block;
	content: " ";
	margin-top: -235px;
	height: 235px;
	visibility: hidden;
}

#contact-success, #contact-error {
	display: none;
}
/* STEPS ****************************************************/
span.icons img{
	height:50px;
	width:50px;
}

span.arrows img{
	float:left;
	height: 20px;
}

.icon_title {
	margin-top: 14px;
	color: black;
}

.center>h4, .center>p  {
	text-align: center;
}

.center>ul {
	width: 300px;
	margin: 0 auto;
}

.arrow-horizontal {
	float: left;
	width: 34px;
	height: 34px;
	margin-top: 17px;
	margin-left: -34px;
}

.arrow-vertical {
	display: block;
	text-align: center;
}

.arrow-vertical>img {
	width: 24px;
	height: 24px;
}

@media all and (min-width: 768px){
	.arrow-vertical {
		display: none;
	}

	.center>ul {
		width: 160px;
	}
}
/* EMAIL SIGN-UP ********************************************/
#newsletter {
	top: -235px;
	position: relative;
	visibility: hidden;
	display: block;
}

h2.success {
	color: #80ea85;
	font-size: 20px;
	font-family:Quicksand;
	text-align: center;
	display: none;
}

h2.error {
	clear: both;
	color: red;
	font-size: 28px;
	font-family: Quicksand;
	text-align: center;
	display: none;
	margin-bottom: 12px;
}

h2.my-email{
	color:white;
	font-family:Quicksand;
	text-align: center;
}
.signup{position:relative;width:575px;margin:auto;}

.signup input[type=email].required{background:#f3f3f3 url(../img/input-required-light.png) right center no-repeat;}
.signup input[type=email]:hover{background-color:#eee;color:#666;}
.signup input[type=email]:focus{background-color:#fff;color:#999;border:1px solid #ddd;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1); outline:none;}

.signup input[type=email],input[type=submit]{margin-bottom:20px;}
.signup input[type=email]{width:450px;height:60px;line-height:60px;padding:0 20px;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;border:1px solid transparent;border-top-left-radius: 5px;border-bottom-left-radius: 5px;-webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft:5px;-moz-border-radius-bottomleft:5px; float:left;background:#f3f3f3;-webkit-appearance: none; color:#666; font: 13px/18px Arial, Helvetica, sans-serif;}
.signup input[type=submit].signupSubmit{width:125px;height:60px;background: #00d7c0;color:#fff;line-height:60px;border:none;border-top-right-radius: 5px;border-bottom-right-radius: 5px;-webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-topright:5px;-moz-border-radius-bottomright:5px;float:left; cursor: pointer;}
.signup input[type=submit].signupSubmit:hover{opacity:0.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}
@media all and (max-width: 680px){
	.signup input[type=email]{width:250px;height:40px;margin-left: 100px;}
	.signup input[type=submit].signupSubmit{width:125px;height:40px;line-height:40px}
}
@media all and (max-width: 600px){
	.signup input[type=email]{margin: auto;}
}
/* SLIDER **************************************************************/
/* Cancel the margin from the item-spacing */
.stretch-slider {
	margin-left: -25px;
	margin-right: -25px;
}
.slider-nav {
	position: absolute;
	width: 150px;
	height: 100%;

	-webkit-transition: background-image 0.3s ease-in-out;
	-moz-transition: background-image 0.3s ease-in-out;
	-o-transition: background-image 0.3s ease-in-out;
	transition: background-image 0.3s ease-in-out;
}

.slider-nav:hover {
	cursor: pointer;

	-webkit-transition: background-image 0.3s ease-in-out;
	-moz-transition: background-image 0.3s ease-in-out;
	-o-transition: background-image 0.3s ease-in-out;
	transition: background-image 0.3s ease-in-out;
}

.-slider-nav-left {
	left: -100px;
	background-image: url('../img/nav/nav-left.png');
	background-repeat: no-repeat;
	background-position: center;
}

.-slider-nav-right {
	right: -100px;
	background-image: url('../img/nav/nav-right.png');
	background-repeat: no-repeat;
	background-position: center;
}

.-slider-nav-left:hover {
	background-image: url('../img/nav/nav-left-hover.png');
}

.-slider-nav-right:hover {
	background-image: url('../img/nav/nav-right-hover.png');
}
/* show navigation arrows under slider on small screen */
@media all and (max-width: 1300px){
	.slider-nav {
		margin-top: 16px;
		margin-bottom: 16px;
		position: absolute;
		width: 50%;
		height: 64px;
		top: 100%;
		display: inline-block;
	}

	.-slider-nav-left {
		background-image: url('../img/nav/nav-left.png');
		background-repeat: no-repeat;
		background-position: center;
	}

	.-slider-nav-right {
		background-image: url('../img/nav/nav-right.png');
		background-repeat: no-repeat;
		background-position: center;
	}

	.-slider-nav-left:hover {
		background-image: url('../img/nav/nav-left-hover.png');
	}

	.-slider-nav-right:hover {
		background-image: url('../img/nav/nav-right-hover.png');
	}
}

@media all and (max-width: 1000px){
	.slider-nav {
		display: none;
	}
}

.item-image>img {
	width: 225px;
	height: 225px;
	border-radius: 50%;
}
/* ACTION BUTTON *******************************************/
.action-button {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: #f9740f;
	position: absolute;
	-webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.45);
	box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.45);

	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition : all 0.3s ease-in-out;
	-ms-transition : all 0.3s ease-in-out;
	-o-transition : all 0.3s ease-in-out;
	transition : all 0.3s ease-in-out;
}

.action-button:hover {
	-webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6);
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6);
	cursor: pointer;

	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition : all 0.3s ease-in-out;
	-ms-transition : all 0.3s ease-in-out;
	-o-transition : all 0.3s ease-in-out;
	transition : all 0.3s ease-in-out;
}

.action-button>img {
	position: relative;
	width: 24px;
	height: 24px;
	margin-left: 20px;
	margin-top: 20px;
}

.-industry-action-button {
		top: 386px;
		right: 11px;
}
